<p id="notice"><%= notice %></p>

<h1>Scraped Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Day scraped</th>
      <th>Manufacturer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scraped_products.each do |scraped_product| %>
      <tr>
        <td><%= scraped_product.name %></td>
        <td><%= scraped_product.price %></td>
        <td><%= scraped_product.day_scraped %></td>
        <td><%= scraped_product.manufacturer %></td>
        <td><%= link_to 'Show', scraped_product %></td>
        <td><%= link_to 'Edit', edit_scraped_product_path(scraped_product) %></td>
        <td><%= link_to 'Destroy', scraped_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scraped Product', new_scraped_product_path %>
